body 
    font-family: Google Sans
    font-weight: 400
    color: black
    padding: 0
    margin: 0

@font-face 
    font-family: Google Sans 
    src: url('../public/fonts/GoogleSans-Bold.woff') format("woff")
    src: url('../public/fonts/GoogleSans-Bold.woff2') format("woff2")
    src: url('../public/fonts/GoogleSans-Medium.woff') format("woff")
    src: url('../public/fonts/GoogleSans-Medium.woff2') format("woff2")
    src: url('../public/fonts/GoogleSans-Regular.woff') format("woff")
    src: url('../public/fonts/GoogleSans-Regular.woff2') format("woff2")

*,
::before,
::after 
    box-sizing: border-box

p
    padding: 0
    margin: 0

ul li 
    padding: 0
    list-style: none

a 
    text-decoration: none

h1, h2, h3, h4 
    margin: 0